<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="productForm" (ngSubmit)="onProductAdd()">
                    <div class="form-group">
                        <label for="pname">Product Name</label>
                        <input type="text" id="pname" formControlName="pname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pstatus">Product Status</label>
                        <select formControlName="pstatus" class="form-control" id="pstatus">
                            <option value="In-Progress">In-Progress</option>
                            <option value="Dispatched">Dispatched</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="canRetrun">Product Can Retrun</label>
                        <select formControlName="canRetrun" class="form-control" id="canRetrun">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <button class="btn btn-outline-primary btn-block"
                    *ngIf="!isInEditMode" type="submit">Add
                        Product</button>
                    <button class="btn btn-outline-primary btn-block"
                     *ngIf="isInEditMode" type="button"
                     (click)="onProductUpdate()"
                     >
                     UpdateProduct</button>
                </form>
            </div>
        </div>
    </div>
</div>